<!--<div class="ui inverted menu"> menu invertido-->
<div class="ui {{dynamicClass}} menu"> <!-- menu transparente -->
	{{#link-to 'home' class="header item"}}
		<h3>{{titleNav}}</h3>
	{{/link-to}}
	{{#link-to 'news' class="item"}}
		News
	{{/link-to}}
	{{#link-to 'about' class="item"}}
		About me
	{{/link-to}}
	<a class="item" href="#">Tutorials/How to's</a>
	{{#link-to 'contact' class="item"}}
		Work with me
	{{/link-to}}
	<a class="item" target="_blank" href="http://github.com/tomasg88/">Gitfolio</a>
	<div class="right menu">
		<div class="item">
			<div class="ui icon input">
			<input placeholder="Search..." type="text">
			<i class="search icon"></i>
			</div>
		</div>
		{{#link-to 'login' class="item"}}
        	Login
    	{{/link-to}}
	</div>
</div>