<div class="ui inverted menu">
	<h3 class="header item">{{titleNav}}</h3>
	<a class="item" href="#">panel 1</a>
	<a class="item" href="#">panel 2</a>
	<a class="item" href="#">panel 3</a>
	<a class="item" href="#">panel 4</a>
</div>
