<!--<h2 class="ui center aligned header">Lista de sarlangas</h2>
<div class="ui container">
	<div class="ui relaxed divided items">
		{{#each model as |new| }} 
			{{news-list unaNew=new}}
		{{/each }}
	</div>
</div>
Cada vez que Ember embebe vistas, crea divs con clase ember-view o similar.
Esto jode con semantic, ya que funciona por herencia y obviamente no tiene en cuenta las ember-view
-->
<h2 class="ui center aligned dividing header">Catalogo</h2>
<div class="ui container">
	{{news-list repoNews=model}}
</div>