{{nav-menu titleNav="News" menuClass="inverted" }}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Lista de noticias</h2>
  <p>
    {{#each news as |new|}} 
      {{news-list lanew=new}}
    {{/each}}
  </p>
</div>