{{nav-menu titleNav="Programmers" }}
<h2>Programmers.hbs</h2>
<div class="field">
	<button class="ui button">Programmers</button>
	{{people-list title="programmers usando component" people=model}}
</div>
