{{nav-menu titleNav="Scientists" }}
<h2>Scientists.hbs</h2>
<button class="ui button">Scientists</button>

<button class="ui secondary button">
  Okay
</button>
<button class="ui button">
  Cancel
</button>
{{people-list title="scientists implementando component" people=model}} 